:root {
  /* 基礎變數 */
  --theme-color: #4f46e5;
  --theme-hover: #4338ca;
  --theme-active: #3730a3;
  --theme-light: #818cf8;
  --theme-focus: rgba(79, 70, 229, 0.5);
}

/* 主題類名 */

.bg-theme {
  background-color: var(--theme-color);
}

.border-theme {
  border-color: var(--theme-border);
}

.hover\:bg-theme-hover:hover {
  background-color: var(--theme-hover);
}

.active\:bg-theme-active:active {
  background-color: var(--theme-active);
}

.focus\:bg-theme-focus:focus {
  background-color: var(--theme-focus);
}

.group-hover\:bg-theme-hover:hover {
  background-color: var(--theme-hover);
}

.group-hover\:border-theme-hover:hover {
  border-color: var(--theme-hover);
}

.group-hover\:border-theme-light:hover {
  border-color: var(--theme-light);
}

.peer-focus\:ring-theme-focus:focus {
  --tw-ring-color: var(--theme-focus);
}

.fixed-column {
  z-index: 1;
  background-color: inherit !important;
}

/* 最後一個固定列的陰影 */
.fixed-left-shadow::after {
  content: "";
  position: absolute;
  top: 0;
  right: -36px;
  width: 36px;
  height: 100%;
  pointer-events: none;
  box-shadow: none;
}

/* 當表格滾動時顯示陰影 */
.vdt-table-container.show-shadow .fixed-left-shadow::after {
  box-shadow: inset 6px 0 5px -3px rgba(0, 0, 0, 0.2);
}

/* 右側固定列陰影效果 */
.fixed-right-shadow::after {
  content: "";
  position: absolute;
  top: 0;
  left: -36px;
  width: 36px;
  height: 100%;
  pointer-events: none;
  box-shadow: none;
}

.vdt-table-container.show-shadow .fixed-right-shadow::after {
  box-shadow: inset -6px 0 5px -3px rgba(0, 0, 0, 0.2);
}